footer {
    background-color: #f7f7f7;
    justify-self: flex-end;
}

.icon {
    width: 30px;
    height: 30px;
    transition: 86ms ease-in;
}

.social-link {
    transform-origin: left;
    transition: 86ms;
}

.social-link a{
    text-decoration: none;
    color: black;
}

    .social-link:hover {
        transform: scale3d(1.05,1.05,1.05);
    }
