<footer>
    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-md-3 mx-auto mb-4">
                <h1 class="text-uppercase font-weight-bold">Contacts</h1>
                <ul class="list-unstyled">
                    <li class="my-2 social-link">
                        <a href="#">
                            <img class="icon" src="icons/github.svg" /> Github
                        </a>
                    </li>
                    <li class="my-2 social-link">
                        <a href="#">
                            <img class="icon" src="icons/twitter.svg" /> Twitter
                        </a>
                    </li>
                    <li class="my-2 social-link">
                        <a href="#">
                            <img class="icon" src="icons/VK.svg" /> Huila
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto mb-4">
                <h2 class="text-uppercase font-weight-bold">Products</h2>
                <ul class="list-unstyled">
                    <li class="my-2">CRM</li>
                    <li class="my-2">CSM</li>
                    <li class="my-2">Surveynetic</li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto mb-4">
                <h2 class="text-uppercase font-weight-bold">Products</h2>
                <ul class="list-unstyled">
                    <li class="my-2">CRM</li>
                    <li class="my-2">CSM</li>
                    <li class="my-2">Surveynetic</li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto mb-4">
                <h2 class="text-uppercase font-weight-bold">Products</h2>
                <ul class="list-unstyled">
                    <li class="my-2">CRM</li>
                    <li class="my-2">CSM</li>
                    <li class="my-2">Surveynetic</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@code {

}
