<header class="top-row px-4">
    <ul class="list-inline" style="margin: inherit">
        <li class="list-inline-item">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="list-inline-item">
            <NavLink class="nav-link" href="contacts" Match="NavLinkMatch.All">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contacts
            </NavLink>
        </li>
    </ul>
</header>

@code {

}
