@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar-light">
                <div class="container">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item py-md-2">
                            <NavLink class="nav-link" href="contacts">
                                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contacts
                            </NavLink>
                        </li>
                        <li class="nav-item py-md-2">
                            <NavLink class="nav-link" href="about">
                                <span class="oi oi-book" aria-hidden="true"></span> About
                            </NavLink>
                        </li>
                        <AuthorizationDisplay />
                    </ul>
                </div>
            </nav>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <Footer />
    </div>
</div>

@code { }