@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <header class="top-row px-4">
            <ul class="list-inline" style="margin: inherit">
                <li class="list-inline-item">
                    <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                        <span class="oi oi-people" aria-hidden="true"></span> About
                    </NavLink>
                </li>
                <li class="list-inline-item">
                    <NavLink class="nav-link" href="contacts" Match="NavLinkMatch.All">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contacts
                    </NavLink>
                </li>
            </ul>
        </header>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
