@page "/signin"

@using Surveynetic.Client.Core.Interfaces.Services
@using Surveynetic.Shared.DTO.Account

@inject NavigationManager NavManager
@inject ICurrentUserService CurrentUserService

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card" style="max-width:500px;min-width:350px;">
            <article class="card-body">
                <NavLink href="/signup" class="float-right btn btn-outline-primary">Sign up</NavLink>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
                <p>
                    <a href="" class="btn btn-block btn-outline-info"> <i class="fab fa-twitter"></i> Sign in via Twitter</a>
                    <a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i> Sign in via Facebook</a>
                    <a href="" class="btn btn-block btn-outline-danger"> <i class="fab fa-google"></i> Sign in via Google</a>
                </p>
                <hr>
                <EditForm Model="Dto" OnValidSubmit="OnValidAsync">
                    <FluentValidationValidator />
                    <div class="form-group">
                        <InputText class="form-control" placeholder="Enter your username or E-mail" @bind-Value="@Dto.Email" />
                        <ValidationMessage For="@(() => Dto.Email)" />
                    </div>
                    <div class="form-group">
                        <InputText class="form-control" type="password" placeholder="********" @bind-Value="@Dto.Password" />
                        <ValidationMessage For="@(() => Dto.Password)" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @if (isProcessing)
                                {
                                    <button class="btn btn-primary btn-block float-right disabled" disabled>
                                        <span class='fa-left fas fa-sync-alt spinning'></span>Signing In...
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-primary btn-block btn-outline-primary float-right" type="submit">Sign In</button>
                                }
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="small" href="">Forgot password?</a>
                        </div>
                    </div>
                </EditForm>
            </article>
        </div>
    </div>
</div>

@code {
    private readonly LoginDto Dto = new();

    private bool isProcessing;

    protected override async Task OnInitializedAsync()
    {
        if (CurrentUserService.User is not null)
            NavManager.NavigateTo("/");

        await base.OnInitializedAsync();
    }

    private async Task OnValidAsync()
    {
        isProcessing = true;

        try
        {
            await CurrentUserService.SignInAsync(Dto);
        }
        catch (Exception e)
        {
        }
        finally
        {
            isProcessing = false;
        }
    }
}
